
.md-welcome
  .md-welcome-msg
    .container.container-md
      h1.animated.fadeInDown.anim-delay-10 Rabbit Operations
      h2.animated.fadeInLeft.anim-delay-15 Managing RabbitMQ Microservices
  
.container.container-md
  p.lead.m0 Message search, error retry, trend analysis, monitoring, alerting and many other cool features!
  .row.md-welcome-row
    .col-md-4
      .card.animated.fadeInDown.anim-delay-20(md-ink-ripple)
        .card-body 
          p.lead.text-bold Message Search
          | Easily search header and message content of audits and errors using the
          | power of Elasticsearch.
    .col-md-4
      .card.animated.fadeInDown.anim-delay-25(md-ink-ripple)
        .card-body 
          p.lead.text-bold Error Retry
          | Retry error messages after resolving underlying problems. Send errors back to
          | their original destination, a particular host or even a different environment.
    .col-md-4
      .card.animated.fadeInDown.anim-delay-30(md-ink-ripple)
        .card-body 
          p.lead.text-bold Trend Analysis
          | Spot trends, find performance bottlenecks and highlight repeating errors to maximize the performance
          | of your microservices architecture.
  h4 Get started now!
  p.pv-lg.animated.fadeInUp.anim-delay-35
    button.btn.btn-primary.btn-lg(md-ink-ripple, type='button', ui-sref="app.matwidgets") GET STARTED
